
<div class="container">
  <h1>Satellites are Aweseome!</h1>

  <button class="btn btn-success" (click)="funkButtonClicked()" >Funk</button>

  <div id="test-div"></div>


  <div *ngIf="readyToDisplay === true" id="mainResults">
    <!-- <div *ngFor="let key in satToDisplay"> -->
      <h4> {{satToDisplay['Name']}} </h4>
      <!-- <h4> {{satToDisplay?.Name}} </h4> -->
    <!-- </div> -->
  </div>



<svg>
  <svg:circle class="earth" cx="500" cy="500" r="35"></svg:circle>
  <svg:circle class="start"></svg:circle>
</svg>



  <!-- {{(satToDisplay | async)?.Name}} -->

  <!-- <div *ngIf="display === true" id="mainResults">
    <div *ngFor="let stuff of getOneSat('0') | async">
      <p>{{stuff}}</p>
    </div>
  </div> -->

</div>
