<div class="header">
  <div class="main-title">Space Junk</div>
  <div class="main-title2"><em>Satellites in our skies</em></div>
</div>

<div class="navigation">

  <div class="instruct-contain">
    <div class="instruct-title">Instructions</div>
    <div id="instruct-list">
      <div class="instruct-item">&#8226; [ Dropdowns ] Select an option from each list</div>
      <div class="instruct-item">&#8226; [ Orbit ] diplay filtered data</div>
      <div class="instruct-item">&#8226; [ Graph ] satelites by year</div>
      <div class="instruct-item">&#8226; [ Lights On/Off] change background color</div>
      <div class="instruct-item">&#8226; hover mouse over a sattilite for details</div>
    </div>
  </div>

  <div class="btn-contain">
    <button id="orbitBtn" class="btn btn-success" (click)="orbitButtonClicked()">Orbit</button>
    <button id="graphBtn" class="btn btn-info" (click)="graphClicked()">Graph</button>
    <button id="offBtn" class="btn btn-primary" (click)="turnLightsOff()">Lights Off</button>
    <button id="onBtn" class="btn btn-default" (click)="turnLightsOn()">Lights On</button>
    <!-- <button id="resetBtn" class="btn btn-warning" (click)="resetAll()">Reset</button> -->
  </div>

  <div class="nav-contain">
    <nav class="form-contain">
      <div class="form-group form-inline">
        <label class="form-inline filters">Country of Origin</label>
        <select (change)="onCountrySelectChange($event.target.value)">
          <option value="ALL">ALL Countries</option>
          <option value="Canada">Canada</option>
          <option value="China">China</option>
          <option value="ESA">European Space Agency</option>
          <option value="France">France</option>
          <option value="Germany">Germany</option>
          <option value="India">India</option>
          <option value="Japan">Japan</option>
          <option value="Multinational">Multinational</option>
          <option value="Russia">Russia</option>
          <option value="Spain">Spain</option>
          <option value="United Kingdom">United Kingdom</option>
          <option value="USA">USA</option>
          <option value="none" selected="selected">None</option>
        </select>
      </div>
      <div class="form-group form-inline">
        <label class="filters">Purpose</label>
        <select (change)="onPurposeSelectChange($event.target.value)">
          <option value="ALL">ALL Purposes</option>
          <option value="Communications">Communications</option>
          <option value="Earth Observation">Earth Observation</option>
          <option value="Earth Science">Earth Science</option>
          <option value="Navigation/Global Positioning">Navigation/Global Positioning</option>
          <option value="Space Observation">Space Observation</option>
          <option value="Space Science">Space Science</option>
          <option value="Technology Development">Technology Development</option>
          <option value="none" selected="selected">None</option>
        </select>
      </div>
    </nav>
  </div>

</div>

<div id="lowEarthOrbit">
    <svg [ngClass]='themeStatus' id="thisSvg">
      <g>

     <!-- define fill patterns for earth -->
      <defs>
        <pattern id="sphere" x="50" y="50" height="100" width="100" patternUnits="userSpaceOnUse">
          <image height="100" width="100" xlink:href="https://upload.wikimedia.org/wikipedia/commons/7/70/Sphere_rotating.gif"></image>
        </pattern>
        <pattern id="earth" x="50" y="50" height="100" width="100" patternUnits="userSpaceOnUse">
          <image height="100" width="100" xlink:href="https://robinsonrobert21.files.wordpress.com/2016/03/earth-spinning-rotating-animation-24.gif?w=150"></image>
        </pattern>
      </defs>

      <circle r="50" cx="500" cy="500" fill="url(#sphere)" class="sphere"></circle>
      <circle r="50" cx="500" cy="500" fill="url(#earth)" ></circle>

      </g>
    </svg>
</div>

<div class="footer">
    <div class=" center-block">
        <div class="github-block">
          <a href="https://github.com/Umitosan" target="_blank"><img class="github" src="../../../assets/img/dom-github.png" alt="github-dom"></a>
          <a href="https://github.com/kenr16" target="_blank"><img class="github" src="../../../assets/img/ken-github.png" alt="github-ken"></a>
          <a href="https://github.com/nrsantamaria" target="_blank"><img class="github" src="../../../assets/img/nicky-github.png" alt="github-nicky"></a>
        </div>
        <div class="sources-block">
          <h2>Database Source</h2>
          <p><a href="http://www.ucsusa.org/nuclear-weapons/space-weapons/satellite-database" target="_blank">Union of Concerned Scientists</a></p>
        </div>
    </div>
</div>
