<div class="header jumbotron">
  <h1>Space Junk</h1>
  <h2><em>Satellites, the junk in our skies</em></h2>
</div>

  <p class="filters">Countries</p>
  <select (change)="onCountrySelectChange($event.target.value)">
    <option value="none" selected="selected">None</option>
    <option value="USA">USA</option>
    <option value="Argentina">Argentina</option>
    <option value="Canada">Canada</option>
    <option value="China">China</option>
    <option value="Multinational">Multinational</option>
    <option value="Japan">Japan</option>
    <option value="Russia">Russia</option>
    <option value="Germany">Germany</option>
    <option value="India">India</option>
    <option value="ESA">European Space Agency</option>
    <option value="Spain">Spain</option>
    <option value="Saudi Arabia">Saudi Arabia</option>
    <option value="France">France</option>
    <option value="ALL">ALL Countries</option>
  </select>

  <p class="filters">Purpose</p>
  <select (change)="onPurposeSelectChange($event.target.value)">
    <option value="none" selected="selected">None</option>
    <option value="Communications">Communications</option>
    <option value="Space Observation">Space Observation</option>
    <option value="Space Science">Space Science</option>
    <option value="Earth Observation">Earth Observation</option>
    <option value="Earth Science">Earth Science</option>
    <option value="Technology Development">Technology Development</option>
    <option value="Navigation/Global Positioning">Navigation/Global Positioning</option>
    <option value="Technology Development">Technology Development</option>
    <option value="ALL">ALL Purposes</option>
  </select>

  <br>
  <br>

  <label>New Slider:</label>
  <input type="range" min="1970" max="2016" value=1970 step="1" (change)="showMinValue($event.target.value)" />
  <span id="range">{{minBarValue}}</span>

  <button class="btn btn-success" (click)="startButtonClicked()">Start</button>
  <button class="btn btn-info" (click)="anotherOneClicked()">Another One</button>
  <button class="btn btn-primary" (click)="turnLightsOff()">Lights Off</button>
  <button class="btn btn-warning" (click)="turnLightsOn()">Lights On</button>

  <div id="lowEarthOrbit">
    <div id="earthImg"></div>
      <svg [ngClass]='themeStatus' id="thisSvg">
        <!-- <svg:circle class="earth" cx="500" cy="500" r="35"></svg:circle>
        <svg:circle class="start"></svg:circle> -->
      </svg>
  </div>

<app-d3output>Loading...</app-d3output>


<!-- public Name: string,
public CountryOperatorOwner: string,
public OperatorOwner: string,
public Users: string,
public Purpose: string,
public ApogeeKM: number,
public LaunchMassKG: number,
public DateOfLaunch: string,
public LaunchSite: string -->


<!-- {{(satToDisplay | async)?.Name}} -->

<div class="footer jumbotron">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 github">
      <a href="https://github.com/Umitosan" target="_blank"><img src="../../../assets/img/dom-github.png" alt="github-dom"></a>
      <a href="https://github.com/kenr16" target="_blank"><img src="../../../assets/img/ken-github.png" alt="github-ken"></a>
      <a href="https://github.com/nrsantamaria" target="_blank"><img src="../../../assets/img/nicky-github.png" alt="github-nicky"></a>
    </div>
    <div class="col-md-4 sources">
      <h2>Source</h2>
      <p><a href="http://www.ucsusa.org/nuclear-weapons/space-weapons/satellite-database" target="_blank">Union of Concerned Scientists</a></p>
    </div>
  </div>
</div>
